@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/geist/geist-variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: optional;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/fonts/geist/geist-mono-variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: optional;
}

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;